/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/



div{
	/*border: 1px solid black;*/
	font-family: arial;
}
li{
	/*border: 1px solid black;*/
	border-radius: 10px;
}

.allback{
	background-color:#E8E8E8; 
}

.genhead{
	height: 150px;
	position: relative;
	margin-bottom: 5%;
	background-color: white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.genhead div{
	float: left;
	height: 60px;
}
.genlogo{
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 5%; 
}
.about{
	position: absolute;
	top: 0;
	right: 0;
	margin-top: 3%;
	margin-right: 5%;
	margin-bottom: 5%;
	font-size: 30px;
	padding-top: 15px;
	background-color: white;
	border-radius: 10px;
	width: 200px;
	text-align: center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.ras{
	padding-left: 5%;
	font-size: 30px;
	width: 350px;
}
ul li{
	margin-top: 25px;
	margin-left: 10%;
	font-size: 25px;
	padding: 15px;
	width: 300px;
	background-color: white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.genmenu{
	background-color: white;
	height: 350px;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	border-radius: 30px;
	margin-top: 5%;
	margin-bottom: 5%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	position: relative;
}
.genherf{
	height: 350px;
	width: 90%;
	position: relative;
	background-color: white;
	border-radius: 30px;
	margin-right: 5%;
	margin-left: 5%;
	margin-top: 5%;
	margin-bottom: 5%;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.gif1{
	margin: 5%;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 30px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.gif2{
	margin: 5%;
	position: absolute;
	top: 0px;
	right: 0px;
	border-radius: 30px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.ul2{
	position: absolute;
	top: 0;
	left: 0;
	padding: 5%;
}
.ul2 li{
	background-color: white;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.herful{
	font-size: 30px;
	padding-left: 5%;
}
.foot{
	height: 80px;
	text-align: center;
	background-color: #303030;
	padding-top: 50px;
}
/*@media (min-width: 320px) and (max-width: 600px) {
	.hello {
		margin-left: 100px;
		margin-top: 50px;
		font-size: 35px;
	}
}*/
